fastapi
uvicorn
langgraph
langchain
langchain-core
langchain-openai
pinecone-client
neo4j
python-dotenv
pydantic
PyMuPDF
python-docx
spacy
presidio-analyzer
presidio-anonymizer
pygithub
hume
redis
pydantic-settings
python-multipart
httpx
